/node_modules
/public/build
/public/css/filament
/public/fonts/filament
/public/hot
/public/js/filament
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
