{
	admin off
	auto_https off
}

:{$PORT} {
	handle /collaboration* {
		reverse_proxy 127.0.0.1:8090
	}

	@websockets path /app/*
	handle @websockets {
		reverse_proxy 127.0.0.1:8080
	}

	handle {
		reverse_proxy 127.0.0.1:8001 {
			header_up X-Forwarded-Proto {http.request.header.X-Forwarded-Proto}
		}
	}
}
