@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/filament/custom-dashboards-plugin/resources/css/index.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
